:root {
    --blue: #5c5edc;
    --black: #1c1d22;
    --grey: #2a2b30;
    --white: #bdbdbd;
}

/* Icons (made with Icomoon.io) */

@font-face {
    font-family: 'feather';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/feather/feather.eot?1gafuo');
    src: url('../fonts/feather/feather.eot?1gafuo#iefix') format('embedded-opentype'), url('../fonts/feather/feather.woff2?1gafuo') format('woff2'), url('../fonts/feather/feather.ttf?1gafuo') format('truetype'), url('../fonts/feather/feather.woff?1gafuo') format('woff'), url('../fonts/feather/feather.svg?1gafuo#feather') format('svg');
}

.icon {
    font-family: 'feather';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.icon--arrow-left:before {
    content: '\e901';
}

.icon--menu:before {
    content: '\e903';
}

.icon--cross:before {
    content: '\e117';
}

/* Menu styles */

.menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 300px;
    height: calc(100vh - 120px);
    background: var(--black);
}

.menu__wrap {
    position: absolute;
    top: 3.5em;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.menu__level {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% + 50px);
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu__level:focus {
    outline: none;
}

.menu__level--current {
    visibility: visible;
}

.menu__item {
    display: block;
    width: calc(100% - 50px);
}

.menu__link {
    font-weight: 600;
    position: relative;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    color: var(--white);
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.menu__link[data-submenu]::after {
    content: '\e904';
    font-family: 'feather';
    position: absolute;
    right: 0;
    padding: 0.25em 1.25em;
    color: var(--grey);
}

.menu__link:hover,
.menu__link:focus,
.menu__link[data-submenu]:hover::after,
.menu__link[data-submenu]:focus::after {
    color: var(--blue);
}

.menu__link--current::before {
    content: '\00B7';
    font-size: 1.5em;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 0.5em;
    height: 4px;
    color: var(--blue);
}

[class^='animate-'],
[class*=' animate-'] {
    visibility: visible;
}

.animate-outToRight .menu__item {
    -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes outToRight {
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.animate-outToLeft .menu__item {
    -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes outToLeft {
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.animate-inFromLeft .menu__item {
    -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes inFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate-inFromRight .menu__item {
    -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
    animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes inFromRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.menu__breadcrumbs {
    font-size: 0.65em;
    line-height: 1;
    position: relative;
    padding: 2.5em 3.75em 1.5em 2.5em;
}

.menu__breadcrumbs a {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--blue);
}

.menu__breadcrumbs a:last-child {
    pointer-events: none;
}

.menu__breadcrumbs a:hover,
.menu__breadcrumbs a:focus {
    color: #8182e0;
}

.menu__breadcrumbs a:not(:last-child)::after {
    content: '\e902';
    font-family: 'feather';
    display: inline-block;
    padding: 0 0.5em;
    color: #33353e;
}

.menu__breadcrumbs a:not(:last-child):hover::after,
.menu__breadcrumbs a:not(:last-child):focus::after {
    color: #33353e;
}

.menu__back {
    font-size: 1.05em;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 2.25em;
    margin: 0;
    padding: 1.365em 0.65em 0 0;
    cursor: pointer;
    color: var(--grey);
    border: none;
    background: none;
}

.menu__back--hidden {
    pointer-events: none;
    opacity: 0;
}

.menu__back:hover,
.menu__back:focus {
    color: #fff;
    outline: none;
}

/* Open and close buttons */

.action {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
}

.action:focus {
    outline: none;
}

.action--open {
    font-size: 1.5em;
    top: 1em;
    left: 1em;
    display: none;
    color: #fff;
    position: fixed;
    z-index: 1000;
}

.action--close {
    font-size: 1.1em;
    top: 1.25em;
    right: 1em;
    display: none;
    color: #45464e;
}

@media screen and (max-width: 40em) {
    .action--open,
    .action--close {
        display: block;
    }

    .menu {
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 100vh;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .menu--open {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/*
 *  ------------------------------------------------- TABS -------------------------------------------------
 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?pvm5gj');
    src: url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Icons created with icomoon.io/app */

.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 300;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid var(--black);
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
    text-transform: uppercase;
}

.tabs nav li.tab-current {
    border: 1px solid var(--blue);
    box-shadow: inset 0 2px var(--blue);
    border-bottom: none;
    z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: var(--blue);
}

.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #768e9d;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}

.tabs nav a:hover {
    color: var(--blue);
}

.tabs nav li.tab-current a {
    color: var(--blue);
}

/* Icons */
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}

.icon-food:before {
    content: "\e600";
}

.icon-lab:before {
    content: "\e601";
}

.icon-cup:before {
    content: "\e602";
}

.icon-truck:before {
    content: "\e603";
}

.icon-shop:before {
    content: "\e604";
}

/* Content */
.tabs .tabs-content section {
    font-size: 1em;
    padding: 3em 1em;
    display: none;
    max-width: 1230px;
    margin: 0 auto;
}

.tabs .tabs-content h3 {
	text-transform: uppercase;
}

.tabs .tabs-content section:before,
.tabs .tabs-content section:after {
    content: '';
    display: table;
}

.tabs .tabs-content section:after {
    clear: both;
}

/* Fallback example */
.tabs .no-js .tabs-content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--blue);
}

.tabs .tabs-content section.tabs-content-current {
    display: block;
}

.tabs .mediabox {
    float: left;
    width: 33%;
    padding: 0 25px;
}

.tabs .mediabox img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.tabs .mediabox h3 {
    margin: 0.75em 0 0.5em;
}

.tabs .mediabox p {
    padding: 0 0 1em 0;
    margin: 0;
    line-height: 1.3;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }

    .tabs .mediabox {
        float: none;
        width: auto;
        padding: 0 0 35px 0;
        font-size: 90%;
    }

    .tabs .mediabox img {
        float: left;
        margin: 0 25px 10px 0;
        max-width: 40%;
    }

    .tabs .mediabox h3 {
        margin-top: 0;
    }

    .tabs .mediabox p {
        margin-left: 40%;
        margin-left: calc(40% + 25px);
    }

    .tabs .mediabox:before,
    .tabs .mediabox:after {
        content: '';
        display: table;
    }

    .tabs .mediabox:after {
        clear: both;
    }
}

@media screen and (max-width: 32em) {
    .tabs nav ul,
    .tabs nav ul li a {
        width: 100%;
        padding: 0;
    }

    .tabs nav ul li {
        width: 20%;
        width: calc(20% + 1px);
        margin: 0 0 0 -1px;
    }

    .tabs nav ul li:last-child {
        border-right: none;
    }

    .tabs .mediabox {
        text-align: center;
    }

    .tabs .mediabox img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }

    .tabs .mediabox h3 {
        margin: 1.25em 0 1em;
    }

    .tabs .mediabox p {
        margin: 0;
    }
}

/*
 * ------------------------------------------------- NEWS -------------------------------------------------
 */

.row-test .news-box{
    width: 30%;
    float: left;
}

.news .row-test {
    overflow: auto;
    height: 100%;
}

.row-test .news-box:first-child {
    margin-right: 5%;
}

.row-test .news-box:last-child {
    margin-left: 5%;
}

.news-box {
    height: 100%;
    text-align: justify;
    margin-bottom: 5%;
    padding: 1%;
    background-color: var(--black);
}

.news-box .img img {
    width: 100%;
    border-bottom: 2px solid var(--blue);
}

.news-box .title {
    margin: 4px 0;
}

.news-box .date {
    text-align: right;
    margin: 4px 0;
    color: var(--blue);
}

.news-box .body {
    text-align: justify;
}

/* ----------------------------------------- LADDER ----------------------------------------- */

.ladder table thead th {
    text-align: left;
    background: var(--black);
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
	text-transform: uppercase;
}

.ladder table {
    border-collapse: collapse;
    width: 100%;
}

.ladder table tr:nth-child(2n) td {
    background-color: rgba(255, 255, 255, 0.03);
}

.ladder table td {
    padding-top: 14px;
    padding-bottom: 14px;
}

.ladder table tr:last-of-type td {
    border-bottom: none;
}

.ladder table .rank,
.ladder table .level,
.ladder table .grade,
.ladder table .race-img,
.ladder table .alignment,
.ladder table .ratio {
    text-align: center;
}

.ladder table .exp {
    text-align: right;
    padding-right: 10px;
}

.ladder table tbody .race-img img,
.ladder table tbody .alignment img {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

.ladder table tbody .race {
    color: #808080;
}

.ladder tbody tr:nth-of-type(1) td {
    background-color: rgba(92, 94, 220, 0.4);
    /*background-color: rgba(217,164,65, 0.3);*/
}

.ladder tbody tr:nth-of-type(2) td {
    background-color: rgba(92, 94, 220, 0.3);
    /*background-color: rgba(168,168,168, 0.3);*/
}

.ladder tbody tr:nth-of-type(3) td {
    background-color: rgba(92, 94, 220, 0.2);
    /*background-color: rgba(150,90,56, 0.3);*/
}

/* Example Media Queries */
@media screen and (max-width: 768px) {
    .ladder table .class,
    .ladder table .exp,
    .ladder table .guild {
        display: none;
    }
}

/* ----------------------------------------- FORM SUPPORT ----------------------------------------- */

.support-form .form {
    width: 100%;
    float: left;
    margin-bottom: 10%;
    padding: 10%;
    background-color: var(--black);
}

.cbp-mc-form {
    position: relative;
    padding: 0 4%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before,
.cbp-mc-form:after {
    content: " "; display: table;
}

.cbp-mc-form:after {
    clear: both;
}

.cbp-mc-column {
    width: 33%;
    padding: 10px 30px;
    float: left;
}

.cbp-mc-form label:first-child {
    padding: 0 5px 5px 2px;
}

.cbp-mc-form .sub-content label {
    padding: 40px 5px 5px 2px;
}

.cbp-mc-form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.cbp-mc-form .precisions {
    text-align: justify;
}

.cbp-mc-form .precisions b,
.cbp-mc-form .precisions a {
    color: var(--blue);
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--black);
    display: block;
    width: 100%;
}

.cbp-mc-form select {
    border: 3px solid var(--blue);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cbp-mc-form select::-ms-expand {
    display: none;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
    border: 3px solid var(--blue);
}

.cbp-mc-form textarea {
    min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid var(--white);
}

.cbp-mc-form select:focus {
    outline: none;
}

::-webkit-input-placeholder , /* WebKit browsers */
:-moz-placeholder , /* Mozilla Firefox 4 to 18 */
::-moz-placeholder , /* Mozilla Firefox 19+ */
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--blue);
    font-style: italic;
}

.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
    background: var(--blue);
    border: none;
    color: var(--white);
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

@media screen and (max-width: 48em) {
    .cbp-mc-column {
        width: 100%;
        padding: 10px;
    }
}

/* ----------------------------------------- LIST SUPPORT ----------------------------------------- */

.support-list table thead th {
    text-align: left;
    background: var(--black);
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.support-list table {
    border-collapse: collapse;
    width: 100%;
}

.support-list table tr td:first-child,
.support-list table tr th:first-child {
    padding-left: 10px;
}

.support-list table tr td:last-child,
.support-list table tr th:last-child {
    padding-right: 10px;
}

.support-list table tr:nth-child(2n) td {
    background-color: rgba(255, 255, 255, 0.03);
}

.support-list table td {
    padding-top: 14px;
    padding-bottom: 14px;
}

.support-list table tr:last-of-type td {
    border-bottom: none;
}

.support-list table .exp {
    text-align: right;
    padding-right: 10px;
}

.support-list table tbody .race {
    color: #808080;
}

/* ----------------------------------------- FAQ SUPPORT ----------------------------------------- */

.support-faq summary::-webkit-details-marker {
    color: var(--blue);
    font-size: 1em;
    margin-right: 2px;
}

.support-faq details {
    width: 100%;
}

.support-faq details details {
    width: 96%;
    margin-left: 4%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.support-faq details details + details {
    padding-top: 0px;
}

.support-faq details summary {
    padding: 1em 2em;
    background-color: var(--black);
    color: var(--white);
}

.support-faq article h2 {
    padding: 1em 2em;
    background-color: var(--black);
    color: var(--blue);
    font-size: 1.2em;
    border-bottom: 2px solid var(--blue);
    border-top: 2px solid var(--blue);
}

.support-faq summary:focus {
    outline-style: none;
}

.support-faq article > details > summary {
    font-size: 1em;
    margin-top: 16px;
}

.support-faq details > p {
    margin-left: 24px;
}

.support-faq details details summary {
    font-size: 1em;
}

/* ----------------------------------------- ACCOUNT ----------------------------------------- */


.login .box {
	width: 48%;
    float: left;
    margin-bottom: 10%;
    padding: 20px;
    background-color: var(--black);
    height: 100%;
}

.login .box + .box {
	margin-left: 4%;
}

.login .box form {
    position: relative;
    padding: 0;
}

.login .box form:before,
.login .box form:after {
    content: " "; display: table;
}

.login .box form:after {
    clear: both;
}

.login .box form label:first-child {
    padding: 0 5px 5px 2px;
}

.login .box form .sub-content label {
    padding: 40px 5px 5px 2px;
}

.login .box form label {
    display: block;
    padding: 40px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.login .box form .precisions {
    text-align: justify;
}

.login .box form .precisions b,
.login .box form .precisions a {
    color: var(--blue);
}

.login .box form input {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--black);
    display: block;
    width: 100%;
    border: 3px solid var(--blue);
}

.login .box form input + input {
	margin-top: 25px;
}

.login .box form input:focus,
.login .box form label:active + input, {
    outline: none;
    border: 3px solid var(--white);
}

::-webkit-input-placeholder , /* WebKit browsers */
:-moz-placeholder , /* Mozilla Firefox 4 to 18 */
::-moz-placeholder , /* Mozilla Firefox 19+ */
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--blue);
    font-style: italic;

}

.login .box form input.submit {
    background: var(--blue);
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

/*

.login .box {
    width: 48%;
    height: 100%;
    padding: 20px;
    float: left;
    background-color: var(--black);
}

.login .box + .box {
    margin-left: 4%;
}

.login label,
.login input {
    width: 100%;
}

.login .input + .input {
    margin-top: 50px;
}

.login input {
    border-radius: 0px;
    background-color: var(--grey);
    padding: 5px;
    color: var(--blue);
    border: 2px solid var(--blue);
    font-size: 1.4em;
}

.login .btn-submit {
    color: var(--white);
}

*/
