.content {
    padding: 5% 7%;
}

.content p {
    text-align: justify;
}

.content img {
    width: 100%;
}

.content .header {
    font-style: italic;
}

.html_section b {
    color: #5c5edc;
}